

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-text color="white">
        <h1 class="ion-text-center" >Social Mapping</h1>
      </ion-text>
    </ion-col>

    <ion-col></ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col>
    </ion-col>

    <!-- login button that creates the login modal page -->
    <ion-col>
      <ion-button (click)="loginModal()" color="success" size="large" shape="round">
        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
        LOGIN
      </ion-button>
    </ion-col>

    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>