<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- uses data to display username from login modal page -->
    <ion-title class="ion-justify-content-center">
      Welcome Home {{userName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button
          [text]="buttonText">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- button that navigates to the friends page -->
    <ion-row>
      <ion-col>
        <ion-button routerLink="/friends" expand="full"><ion-icon slot="end" name="people-circle-outline"></ion-icon>Friend list</ion-button>
      </ion-col>
    </ion-row>
    <!-- button that navigates to the location page -->
    <ion-row>
      <ion-col>
        <ion-button routerLink="/my-location" expand="full"> <ion-icon slot="end" name="earth-outline"></ion-icon>picture my location</ion-button>
      </ion-col>
    </ion-row>
    <!-- button that takes you to the collection page -->
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button routerLink="/collection" expand="full"> <ion-icon slot="end" name="images-outline"></ion-icon>my collection</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <!-- select date using ion-datetime -->
  <ion-item>
    <ion-label>Select Date</ion-label>
    <ion-datetime displayFormat="D MMM YYYY" min="2020" max="2021"></ion-datetime>
  </ion-item>
</ion-footer>